{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBlog</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body class="bg-light d-fleax flex-column min-vh-100">
    <header>

        <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">🚀 DevBlog</a>
                
                <!--Botão do Menu Mobile-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                    <span class="navbar-toggler-icon"></span>
                </button> 

                <!--Menu-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Início</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Categorias
                            </a>
                        
                            <ul class="dropdown-menu">
                                {% for categoria in lista_categorias %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'categoria' categoria.id %}">
                                        {{ categoria.nome }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sobre_nos' %}">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'fale_conosco' %}">contato</a>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main class="container my-5">
        {%block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-4 mt-5">
        <p class="mb-0">© 2026 Desenvolvido pela Turma Python. Todos os direitos reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>