{% extends 'blog/base.html' %}

{% block content %}
    <h2 class="mb-4">Últimas notícias</h2>

    {% for artigo in lista_artigos %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h3 class="card-title text-success">{{artigo.titulo}}</h3>
                <h6 class="card-subtitle mb-2 text-muted">Categoria: {{artigo.categoria.nome}} | Autor: {{artigo.autor}}</h6>
                <p class="card-text">{{artigo.conteudo|truncatechars:100}}</p>
                <p class="card-text"><small class="text-muted">Publicado em: {{artigo.data_publicacao}}</small></p>
                <a href="{% url 'artigo_detalhe' artigo.id %}" class="btn btn-success btn-sm">Ler mais...</a>
            </div>
        </div>
    
    {% empty %}
        
    <p>Nenhuma notícia publicada ainda.</p>

    {% endfor %}


    <!--Botões de paginação bootstrap-->
    <div class="pagination justify-content-center mt-4">
        {% if lista_artigos.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary btn-sm mx-1">&laquo; Primeira</a>
            <a href="?page={{ lista_artigos.previous_page_number }}" class="btn btn-outline-primary btn-sm mx-1">Anterior</a>
        {% endif %}

        <span class="current fw-bold mx-3 mt-1">
            Página {{ lista_artigos.number }} de {{ lista_artigos.paginator.num_pages }}.
        </span>

        {% if lista_artigos.has_next %}
            <a href="?page={{ lista_artigos.next_page_number }}" class="btn btn-outline-primary btn-sm mx-1">Próxima</a>
            <a href="?page={{ lista_artigos.paginator.num_pages }}" class="btn btn-outline-primary btn-sm mx-1">Última &raquo;</a>
        {% endif %}

    </div>

 {% endblock %}