{% extends 'blog/base.html' %}

{% load static %}



{% block content %}

<div class="sobre">
    <div>
        <h3>Sobre o DevBlog</h3>
        <p>Este DevBlog está sendo desenvolvido pela turma de python do senac tech, com a orientação do nosso professor.</p>
        <p>O DevBlog que eu desenvolvi, foi com o intuito de compartilhar um pouco do que aprendi com o decorrer do curso de python. A ideia é publicar artigos, tutoriais e dicas que possam ajudar tanto quem está começando quanto quem já tem experiência. Também quero mostrar novidades do mundo da tecnologia, falar sobre linguagens de programação, frameworks e boas práticas de desenvolvimento. Meu objetivo é criar um espaço simples, útil e interessante, onde eu possa compartilhar conhecimento e evoluir junto com outros desenvolvedores.
        </p>
    </div>

    <img src="{% static 'blog/imagens/logo.png' %}" class="logo rounded shadow">
</div>
 
{% endblock %}